@model IEnumerable<TH05.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;color:red; padding-bottom:20px">Thể Loại</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Categories", FormMethod.Get))
{
    <input type="text" name="_name" />
    <input type="submit" value="Search" />
}
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.IDCate)</th>
        <th>@Html.DisplayNameFor(model => model.NameCate)</th>
        <th></th>
    </tr>
    @foreach (var iteam in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelIteam => iteam.IDCate)
            </td>
            <td>
                @Html.DisplayFor(modelIteam => iteam.NameCate)
            </td>
            <td>
                <button type="submit" style="background-color:blue;">  @Html.ActionLink("Edit", "Edit", new { id = iteam.IDCate })</button>
                <button type="submit" style="background-color:red;">@Html.ActionLink("Details", "Details", new { id = iteam.IDCate })</button>
                <button type="submit" style="background-color:olivedrab;"> @Html.ActionLink("Delete", "Delete", new { id = iteam.IDCate })</button>

            </td>
        </tr>
    }
</table>

